<suite name="Test Suite">
    <test name="Login Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.lhind.selenium.tests.LoginTest"/>
            <class name="com.lhind.selenium.tests.RegisterTest" />
            <class name="com.lhind.selenium.tests.DashboardTest" />
            <class name="com.lhind.selenium.tests.ShoppingCartTest" />
            <class name="com.lhind.selenium.tests.EmptyShoppingCartTest" />
        </classes>
    </test>
</suite>
